@font-face {
    font-family: 'PokeCardTitle';
    src: url('../Fonts/PokemonSolid.ttf') format('truetype');
  }
@font-face {
    font-family: 'PokeDisplayCardTitle';
    src: url('../Fonts/PocketMonk.ttf') format('truetype');
  }
@font-face {
    font-family: 'PokeDetails';
    src: url('../Fonts/PokemonGB.ttf') format('truetype');
  }

.PokeMonMainC{
    background-color: #15191d;
    border-radius: 2em;
    max-height: 60em;
    
}
.pokemonDisplayC{
    max-height: 40em;
}
.Prev{
    width: 12em;
    height: 3em;
    background-color: #2a75bb;
    color: #fff5ce;
    border-radius: 25px;
}
.Prev span{
    font-size: larger;

}
.Prev:hover{
    cursor: pointer;
    color: #2a75bb;
    background-color: #ffcb05;
}
.prevPageStateStyle{
    background-color: #6eb9ff;
    color: #fff5ce;


}
.prevPageStateStyle:hover{
    cursor: not-allowed;
    background-color: #6eb9ff;
    color: #fff5ce;
    

}
.Next{
    width: 12em;
    height: 3em;
    background-color: #2a75bb;
    color: #fff5ce;
    border-radius: 25px;
}
.Next span{
    font-size: larger;
}
.Next:hover{
    cursor: pointer;
    color: #2a75bb;
    background-color: #ffcb05;
}
.pokemon-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
}
button span{
    font-family:PokeDetails ;
    letter-spacing: 0em;
}